<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authorization Request</title>
</head>
<body>

    <div>
        {{if .isLogin}}
            <div>Do you want to allow this {{.client_name}} Application </div>
            <div>To access your data ?</div>
            <div>Scope</div>

            <ul>
                {{range .scope}}
                    {{with .}}
                        <li>{{.}} access to your data</li>
                    {{end}}
                {{end}}
            </ul>

            <div>
                <a href="{{.allowed_uri}}">AUTHORIZE APPLICATION</a>
                <a href="{{.denied_uri}}">DENY</a>
            </div>

        {{else}}
            <div>Login form</div>
            <form action="/oauth/auth?client_id={{.client_id}}&redirect_uri={{.redirect_uri}}&scope={{.scope}}&response_type={{.response_type}}" method="post">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"/>
                </div>
                <div>
                    <button>Login</button>
                </div>
            </form>
        {{end}}
    </div>

</body>
</html>